html {
    scroll-behavior: smooth;
}

h1 {
    font-family: Oswald;
    font-size: 50px;
    color: #F5F5F5;
    padding: 0;
    margin: 0;
    border: 0;
}
h2 {
    font-family: Oswald;
    margin: 0;
    padding: 10px;
    font-size: 40px;
    color: #373837;
}
h3 {
    font-family: Oswald;
    margin: 0;
    padding: 10px;
    color: #373837;
}
p {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Montserrat;
    color: #373837;
}
li {
    color: #373837;
}

body {
    margin: 0;
    border: 0;
    overflow: hidden;
    padding-top: 180px;
    background-color: #00B182;
}

#loading {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;
    opacity: 1;
    transition: 0.2s;
    cursor: wait;
}
#loading h1 {
    font-size: 100px;
    color: #373837;
    width: 20%;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    position: fixed;
    top: 200px;
}
.loading-vid {
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
    position: fixed;
    bottom: 0;
}

.sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #238732;
    overflow-x: hidden;
    padding-top: 170px;
    transition: 0.5s;
}
.sidemenu .closebtn {
    position: absolute;
    top: 45px;
    right: 70px;
}
.sidemenu #closebtnimg {
    height: 75px;
}
.sidemenu a {
    padding: 8px 8px 8px 50px;
    text-decoration: none;
    font-size: 50px;
    font-family: Oswald;
    color: #373837;
    display: block;
    transition: 0.2s;
}
.sidemenu a:hover {
    color: black;
}

#menu_fade {
    background-color: rgba(80, 80, 80, 0.75);
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    transition: 0.5s;
}

#header {
    background-image: url("Images/Trees.jpg");
    background-position: 0, 20px;
    height: 180px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
    z-index: 1;
}
#logo_header {
    margin: 0;
    position: absolute;
    top: 25px;
    left: 180px;
    transition: 0.2s;
}
#header_position {
    margin: 0;
    position: absolute;
    top: 45px;
    left: 300px;
}
#header_text {
    transition: 0.2s;
}
#icon-header {
    margin: 0;
    position: absolute;
    top: 16px;
    right: 75px;
    font-size: 100px;
    color: #F5F5F5;
    transition: 0.2s;
}
#back2top {
    background-color: #00b182;
    border: none;
    border-radius: 50%;
    cursor: default;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    opacity: 0;
    transition: 0.2s;
}
#back2top:hover {
    background-color: #238732;
}
.arrow {
    width: 27px;
    margin-left: auto;
    margin-right: auto;
}
mark {
    background-color: rgba(55, 56, 55, 0.7);
    color: #F5F5F5;
}
.description {
    width: 60%;
    margin: auto 10%;
}
.description p {
    font-size: 24px;
}
.main-header {
    width: 0;
    padding: 0;
}
.main-header h2 {
    font-size: 48px;
    padding: 0;
}
.description-title {
    font-size: 30px;
    padding: 0;
}
.description a {
    color: inherit;
    transition: 0.2s;
}
.description a:hover {
    color: #373837;
}
.para-div1 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("Images/vege.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.para-div2 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("Images/gardening.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.para-div3 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("Images/waipahihi.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -100px;
}
.para-div4 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("Images/path.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.footer {
    clear: both;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    background: #00B182;
    position: relative;
}
.footer a {
    color: inherit;
}
.text-position {
    position: absolute;
    width: 300px;
    margin-top: 85px;
    margin-left: 14%;
}
.footer-logo {
    height: 100px;
    position: absolute;
    margin-left: 5%;
    margin-top: 75px;
}
.page-list {
    font-family: Montserrat;
    position: absolute;
    padding: 0;
    list-style: none;
    width: 200px;
    margin-left: 50%;
    margin-top: 81.5px;
}
li {
    padding: 5px;
}
.page-list a {
    text-decoration: none;
    transition: 0.2s;
}
.page-list a:hover {
    color: black;
}
.contact-list {
    position: absolute;
    list-style: none;
    font-family: Montserrat;
    width: 220px;
    margin-left: 65%;
    margin-top: 79px;
}
.contact-header {
    font-family: Oswald;
}

.reference {
    position: absolute;
    bottom: 0;
    right: 5px;
}
.contact-list a {
    transition: 0.2s;
}
.reference a {
    transition: 0.2s;
}
.reference a:hover {
    color: black;
}
.contact-list a:hover {
    color: black;
}